:root{
  --amarillo: #4f9e41/*#fea304*/ ;
  --color2:#4f393c ;
  --color3:/*#125a44*/rgb(40, 40, 40);
  --color4 :#37192c ;
  --color5:#220315 ; 
  --colorbg:rgba(159, 159, 159, .2); 
}
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    height: 100%
}

body{
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

.fontzize{
    font-size: 2rem;
}

.decoration{
    text-decoration: none;
    color: #fff;
}

.pad1{
    padding: 1rem 1rem;
}

.capitalize {
    text-transform: capitalize;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

.center{
    text-align: center;
}

/*Nombre*/
.name{
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--color4);
}
.name-title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color:#fff;   
}

.title-span{
    font-size: 2rem;
    color: #ad8e8e;
    /*1 rem = 10px*/
}

/*Navegador*/
.nav{
    background-color: var(--color3);
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
}

.navegacion-principal .enlace_nav{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size:2rem;
    font-weight:400;
    padding: 1.5rem;
}

.navegacion-principal .enlace_nav:hover{
    background-color: var(--color2);
    color:#fff;
}
/*DDWF*/
.ddwf{
    font-size: 1.5rem;
}


@keyframes background-animation{
    0%{
        background-color: #042608;
        color: #fff;
    }
    25%{
        background-color: #2a5c0b;
        color: #fff;
    }
    50%{
        background-color: #808f12;
    }
    75%{
        background-color: #2a5c0b;
        color: #fff;
    }
    100%{
        background-color: #042608;
        color: #fff;
        
    }
}
.background-animation{
    width: 100%;
    height: 30%;
    animation: background-animation 5s ease-in-out infinite;
}

.contenido-hero {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.contenido-hero h2 span{
    color: #eee2e2;
}
.contenido-hero a{
    color: #eee2e2;
    background-color: rgba(0, 0, 0,0.4);
    border: #fff solid ;
    border-radius: .5rem;
    padding: 1rem 1rem;
    margin: 1rem 0 0 0;
    box-shadow: #d9d593 5px 3px;
}


/*main*/
.main{
    background-color: var(--colorbg);
    padding: 2rem;
}

/*contenedor de tarjetas*/
.container-tarjets{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tarjet{
    background-color: var(--color3);
    color: #fff;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 10px 10px 8px #000;
}

/*Contacto*/


/*footer*/
.footer{
    background-color: var(--color3);
    color: #fff;
}

@media (min-width: 768px) {
    .name-title{
       font-size: 2.5rem; 
    }

    .ddwf{
        font-size: 2rem;
    }

    .background-animation{
        height: 40%;
    }


    .navegacion-principal{
        flex-direction: row;
        justify-content: space-around;
    }

    .container-tarjets{
        flex-direction: row;
    }
}